<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>New Book Entry</title>

    <style type="text/css" media="all">
        .form_table { text-align: center; }
        .full_width .segment_header { text-align: center !important; }
        .q { float:none;display: inline-block; }
        table.matrix, table.rating_ranking { margin-left:auto !important;margin-right:auto !important; }
    </style>
      

    </head>

 <body>
     <h1>Book-To-Do-List App - New Book Entry</h1>

     <form action="/" method="post">
        <table border="0">
            <tr>
                <td>ISBN</td>
                <td><input type="text" name="isbn" maxlength="13" size="13"></td>
            </tr>    

            <tr>
                <td>Author</td>
                <td><input type="text" name="author" maxlength="30" size="30"></td>
            </tr>

            <tr>
                <td>Title</td>
                <td> <input type="text" name="title" maxlength="60" size="30"></td>
            </tr>

            <tr>
                <td>Price shs</td>
                <td><input type="text" name="price" maxlength="7" size="7"></td>
            </tr>

            <tr>
                <td colspan="2"><input type="submit" value="Register"></td>

            </tr>
             
        </table>
       
    </form>
 </body>   
</html>