<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Book Catalog Search</title>
    
<body>
    <h1>Book-To-Do-List App- Catalog Search</h1>

    <form action="/" method="post">
      Choose Search Type;<br />
      <select name="searchtype">
          <option value="author">Author</option>
          <option value="title">Title</option>
          <option value="isbn">ISBN</option>
      </select>
      <br />
      Enter Search Term:<br />
      <input name="searchterm" type="text">
      <br />
      <input type type="submit" value="Search">
    </form>
</body>

</html>